body {
    list-style-type: none;
}

.listStryle {
    list-style-type: none;
    text-decoration: none;
}

.borderbox {
    border: 1.5px solid rgb(180, 178, 178);
    border-radius: 10px;
}

.borderbox2 {
    border: 1px solid rgb(118, 116, 116);
}

.borderboxtop {
    border-top: 0;
    border-left: 1.5px solid rgb(180, 178, 178);
    border-right: 1.5px solid rgb(180, 178, 178);
}

.line-through {
    text-decoration: line-through;
    color: 300;

    display: flex;
}

.borderbottom {
    border-bottom: 1px solid gray;


}

.font2rem {
    font-size: 2.2rem;
    font-weight: bold;
}

.borderbottom2:hover {
    border-bottom: 2px solid rgb(0, 153, 255);
    transition: all .2s;
}

.borderbottom3 {
    color: rgb(109, 115, 115);
}

.borderbottom3:hover {
    color: rgb(0, 153, 255);
    transition: all .2s;
}

.width80 {
    width: 95%;
}

.bordertop {
    border-top: 1px solid rgb(118, 116, 116);
}

.borderbottom2 {
    border-bottom: 1px solid rgb(118, 116, 116);
}

.borderbottom6 {
    border-bottom: 1px solid rgb(118, 116, 116);
}

.borderbottom7 {
    border-bottom: 2px solid rgb(118, 116, 116);
}

.borderLeftright {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.color1 {
    color: #e0e0e0;
    background-color: #e0e0e0;
}
.textcolor1{
    color: #a6a6a6;
}
.bordertop2 {
    border-top: 5px solid #f56606;
}

.bordertop3 {
    border: none;
}

.margintop20 {
    margin-top: -20px;
}

.btnhover {
    color: rgba(0, 0, 0, 0.755);
    background: rgba(255, 2, 2, 0.733)000;
}

.btnhover:hover {
    color: rgb(0, 0, 0);
    background: rgba(255, 2, 2, 0.896)000;
}

.fontsizebold {
    font-size: 10px;
    overflow: ;
    font-weight: bold;
}

.fontsize {
    font-size: 10px;
}
.fontsize2 {
    font-size: 7px;
}
.border80{
            
    border-bottom: 1px solid gray;
}
.color2{
    background-color: rgb(195, 193, 193);
}
.color3{
    background-color: rgb(121, 121, 121);
}
.boxblur{
    filter: blur(2px);
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 3px;
    bottom: 2px;
    z-index: 10;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  